body {
  background: black;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-family:'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  text-align: center;
  }


.navbar {   
  padding: 10px;
  font-weight:bold;
  }

.btn {
  color: white;
  background-color: green;
  }
  
.logo-pokedex {
  margin-right: auto;
  height: 30px;
  }

.button-class {
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display:inline-table;
  width: 200px;
  font-size: 24px;
  margin: 14px 14px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #d5f8d7;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
}
  
.list-group {
  text-align: center;
  display: inline-block;
  margin: 50px auto;
  width: 100%;
}
    
.modal-body {
  background-color: black;
  color: white;
  text-align: center;
  }
    
.modal-body img {
  margin-bottom: 0;
  max-width: 40%;
  height: auto;
  }